@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,800;1,900&display=swap');
*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --orange: #ff7143;
    --blue: #5454d4;
}
body
{
    background: #1e1d2b;
    color: #fff;
}

.container
{
    width: 95%;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0;
}
.container--header
{
    padding: 0;
    margin: 0 30px;
}
.nav_logo
{
    position: relative;
    font-family: monospace;
    font-size: 55px;
    font-weight: 400;
    text-decoration: none;
    color: var(--orange);
    text-align: center;
}
.nav_list
{
    position: absolute;
    top: 20px;
    bottom: 800px;
    right: 0;
    left: 0;
    background-color: #2c2b47;
    padding:0;
    display: grid;
    place-content: center;
    text-align: center;
    gap: 2rem;
    list-style: none;
    color: #fff;
}
.nav_item
{
    justify-content: space-between;
    width: 100px;
    height: 60px;
}
.nav_link
{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: .1s;
}
.nav_link:hover
{
    color: #ff7143;
}
.header_main
{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.header_imagen
{
    order: 1;
    padding: 20px 0;
}
.header img
{
    width: 100%;
    display: block;
    max-width: 600px;
    margin: 0 250px;
}
.header_text
{
    display: grid;
    gap: 3rem;
    padding-bottom: 80px;
}
.header_title
{
    font-size: 4rem;
    color: #ff7143;
    display: flex;
    width: 500px;
    justify-content: center;
}
.header_title2
{
    line-height: 3;
    font-weight: 800;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
}
.header_cta
{
    margin: 0 130px;
    text-decoration: none;
    color: #fff;
    font-size: 150%;
    justify-self: center;
    border: 20px solid #ff7143;
    background-color: #ff7143;
    border-radius: 6px;
}
.About_container
{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 200px 200px 200px;
}
.About_imagen img
{
    margin: 0px auto;
    width: 100%;
    max-width: 600px;
}
.About_text
{
    margin: 20px 100px;
    padding: auto;
    max-width: 50%;
}
.subtitle
{
    margin: 10px;
    width: 750px;
    font-weight: 500;
    color: #ff7143;
    font-size: 5px;
}
.subtitle2
{
    margin: 0 10px;
    font-size: 70px;
    font-weight: 500;
    width: 700px;
}
.learn_container
{
    margin: 100px;
    width: 90%;
}
.learn_container .subtitle3
{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #ff7143;
}
.learn_container .subtitle5
{
    text-align: center;
    margin: 10px;
    font-size: 70px;
    font-weight: 500;
}
.tarjeta
{
    background: #ffefe8;
    border: 50px solid #ffefe8;
    width: 50%;
    border-radius: 50px;
    display: block;
    margin: auto;
    transform: translateX(-0.5%);
    transition: 0.5s ease-in-out;
}
.tarjeta:hover
{
    transform: translateY(-25px);
}
.articles
{
    padding: 10px;
    margin-top: 1rem;
    display: grid;
    gap: 7rem;
    width: 100%;
}
.learn_article
{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}
.learn_article img
{
    display: block;
    margin: 0 auto;
    max-width: 280px;
}

.parrafo, .parrafo1
{
    line-height: 1.5;
    font-weight: 300;
    font-size: 25px;
    margin: 0 10px;
}
.learn_article p
{
    color: #000;
}
.learn_article .parrafo1
{
    color: #ff7143;
}
.learn_article .learn_title
{
    color: #000;
    font-weight: 400;
    font-size: 35px;
}
.Service
{
    text-align: center;
    margin: 200px 100px;
    width: 90%;
}
.subtitle4
{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #ff7143;
}
.Service_text
{
    display: grid;
    gap: 3rem;
    margin: 0 70px 0 70px;
}
.subtitle7
{
    text-align: center;
    margin: 10px;
    font-size: 70px;
    font-weight: 500;
}
.subtitle3
{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #ff7143;
}
.Service_text img
{
    max-width: 300px;
    display: block;
    margin: 0 auto;
}
.contact
{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #ff7143;
}
.item
{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.bx
{
    width: 50px;
    margin: 10px;
    height: 50px;
}
@media (min-width: 768px) 
{
    *
    {
        margin: 0;
        padding: 0;
    }
    .nav_list
    {
        position: static;
        background-color: transparent;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: right;
        gap: 3rem;
        font-size: 120%;
        list-style: none;
        transform: unset;
        transition: none;
        position:fixed;
    }
    .nav_list--show
    {
        transform: unset;
    }
    .nav_link
    {
        color: #fff;
    }
    .header_main
    {
        flex-direction: row;
        gap: 40px;
        min-height: 550px;
        align-items: center;
    }
    .header_imagen
    {
        padding: 0;
        width: 100%;
    }
    .header_img
    {
        max-width: 500px;
    }
    .header_text
    {
        width: 54%;
        text-align: start;
        gap: 2rem;
        padding-bottom: 0;
    }
    .header_cta
    {
        color: #fff;
        justify-self: start;
    }
    .About_container
    {
        flex-direction: row;
    }
    .About_figure
    {
        width: 300px;
    }
    .About_img
    {
        width: 100%;
    }
    .About_text
    {
        width: 70%;
        text-align: start;
        place-content: center;
    }
    .subtitle
    {
        text-align: inherit;
        font-size: 20px;
    }
    .learn
    {
        text-align: center;
        margin: 50px auto;
        display: flex;        
    }
    .learn_articles
    {
        gap: 2rem;
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
    }
    .learn_article
    {
        gap: 1.5rem;
    }
    .Service_main
    {
        text-align: center;
        margin: 50px auto;
        display: flex;        
    }
    .Service_text
    {
        gap: 2rem;
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
        gap: 1.5rem;
    }
}
